:root {
  --titleSize: 40px;
  --subtitleSize: 35px;
  --tablet: 900px;
  --bodyFontColor: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--bodyFontColor);
}

body {
  font-family: 'lora';
  font-size: 25px;
  background-color: black;
}

a {
  text-decoration: inherit;
  cursor: pointer;
}

.title-container {
  padding: 5px 0;
  font-weight: bold;
  font-size: var(--titleSize);
  display: flex;
  justify-content: center;
}

.title {
  border-bottom: solid 2px;
}

.subtitle {
  padding: 4px 0;
  font-weight: 600;
  font-size: var(--subtitleSize);
}

.header-container {
  width: 100%;
  padding: 30px 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-image-container {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header-image-content {
    height: 130px;
    width: 300px;
    background: url('../image/logo2.png') no-repeat;
    background-size: contain;
  }

  .header-menu {
    margin-left: 70px;
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: var(--tablet)) {
      display: none;
    }
  }

  .header-menu-item {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .header-menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.content {
  min-height: calc(100vh - 270px);
}

.home-main-container {
  .home-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 13% 8%;

    @media (max-width: var(--tablet)) {
      flex-wrap: wrap;
    }

    .home-main-photo {
      border: solid 5px;
      padding: 7px;
      height: 300px;
      width: 400px;
      @media (max-width: var(--tablet)) {
        display: none;
      }
    }

    .home-main-presentation-container {
      .home-main-presentation-content {
        margin-left: 80px;
        text-align: left;
        background-color: black;
        font-weight: 600;
        font-size: 50px;
        padding-bottom: 30px;
        border-bottom: solid 2px;

        @media (min-width: 500px) and (max-width: 900px) {
          margin-top: 30px;
          margin-left: 0px;
        }

        @media (max-width: 500px) {
          margin-top: 30px;
          margin-left: 0px;
          font-size: 25px;
        }
      }
    }
  }
}

.home-techno-container {
  @media (max-width: var(--tablet)) {
    background-image: none;
  }
  background-repeat: no-repeat;

  .home-techno-content {
    padding: 3% 13% 5%;
    .home-techno-item-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .home-techno-item {
      padding: 20px;
      margin: 10px 20px;
      border: solid 5px;
      width: 350px;
      text-align: center;
      background-color: black;

      .home-techno-subItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        .techno-image {
          margin-right: 10px;
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}

.home-contact-container {
  .home-contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 13% 5%;
  }

  .home-contact-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .contact-image {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 13% 8%;
  text-align: justify;
}

.footer-container {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-menu {
    padding: 20px;
    display: flex;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      flex-basis: 100%;
    }
  }
}
